# This is a basic workflow to help you get started with Actions

name: First CI

# Controls when the action will run. 
on: [push, pull_request, workflow_dispatch]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: [windows-latest]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        env: 
          SLN_PATH: EmptyMVC/EmptyMVC.sln
          XUNIT_CONSOLE_PATH: EmptyMVC/packages/xunit.runner.console.2.4.1/tools/net47/xunit.console.exe
          TEST_DLL_PATH: EmptyMVC/EmptyMVC.Tests/bin/Debug/EmptyMVC.Tests.dll

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1
        
      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1.0.5

      - name: Restore NuGet packages
        run: nuget restore EmptyMVC/EmptyMVC.sln
        
      - name: Build the Solution
        run: msbuild EmptyMVC/EmptyMVC.sln
        
      - name: Run Tests
        run: EmptyMVC/packages/xunit.runner.console.2.4.1/tools/net47/xunit.console.exe EmptyMVC/EmptyMVC.Tests/bin/Debug/EmptyMVC.Tests.dll -junit test_results.xml
        
      - name: View Tests
        if: success() || failure()
        uses: dorny/test-reporter@v1.4.3
        with:
          name: XUnit Tests
          path: test_results.xml
          reporter: jest-Junit
